.App {
margin-top: 50px;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 50px;

}

.App-logo {
  width: 418px;
  height: 104px;
}

.subheader {
  color: #454B60;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.app-sub {
  justify-content: center;
  display: grid;
  display: flex; /* This will define a flex container */
  align-items: center; /* This will vertically align the flex items in the middle */
  column-gap: 15px;
}

.volume {
  width: 40px;
  height: 40px;
}

.class-profile {
  justify-content: center;
  display: grid;
  display: flex; /* This will define a flex container */
  align-items: center; /* This will vertically align the flex items in the middle */
  column-gap: 15px;
}

.giraffe-profile {
  width: 260px;
  height: 246px;
}

.grade-button {
  border-radius: 42px;
  background: #FFF;
  box-shadow: 4px 4px 15px 0px #C3C3C3 inset, -6px -4px 15px 0px #FFF inset;
  width: 264px;
  height: 68px;
  flex-shrink: 0;
} 

.App-header {
  background-color:white;

}

.App-link {
  color: #61dafb;
}
